<h1>Sistemas Contra Incendios</h1>
<div class="contenedor">
    <div class="info">
        <h4>La Detección y supresión de chispas es el primer paso para evitar un incendio!</h4>
        <img src="./assets/others/tanques.png" class="tanquesimg">
        <br>
        <br>
        <h5>Prevenga incendios y explosiones en colectores de polvo</h5>
        <p class="parrafos">Si se acumulan polvos combustibles, hay un riesgo de incendio y 
            explosión en el colector, independientemente de la construcción del filtro. Cada vez
            que se procesa o maneja un polvo combustible, existe un potencial de deflagración
        </p>
        <h5>¿Es este un riesgo que esta dispuesto a tomar?</h5>
        <p class="parrafos">Los conductores que transportan material seco liberado por equipos
            que tienen una alta frecuencia de generación de chispas deberán ser equipados con
            un sistema de detección de chispas y de extinción instalado corriente abajo desde
            el último punto de ingreso de materiales y corriente arriba de cualquier equipo 
            de recolección
        </p>
        <br>
        <h3>Tratamiento de Flama</h3>
        <p class="parrafos">El tratamiento de flama es un servicio que la empresa brinda a los medios
            filtrantes para proporcionarles una vida útil más prolongada; este consiste en aplicarle
            un tratamiento especial a los filtros, esto le brinda a estos la capacidad de hacerse
            más resistente a las altas temperaturas reduciedo el riesgo de poderse incendiar y afectar
            a nuestros equipos y personal.
        </p>
    </div>

    <div class="complemento">
        <div class="firetrace">
            <h3>Firetrace</h3>
            <img src="./assets/others/firetrace.png" class="firetraceimg">
        </div>
        <div class="flamex">
            <h3>Flamex</h3>
            <img src="./assets/others/flamex.jpg" class="flameximg">
        </div>
    </div>
</div>
