h1{
    background: #f2f2f2;
    width: 81%;
    margin-top: 20px;
    margin-left: 9%;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
}

h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: red;
}

.contenedor{
    margin-bottom: 100px;
}

.info{
    width: 60%;
    //border: 1px solid black;
    margin-left: 20%;
    padding: 15px 15px 15px 15px;
    background: #f2f2f2;
    border-radius: 15px;
}

.tanquesimg{
    width: 25%;
    margin-left: 35%;
}

img{
    width: 98%;
    margin: 1%;
}

.parrafos{
    font-size: 18px;
    text-align: justify;
}

.complemento{
    width: 60%;
    //border: 1px solid black;
    margin-top: 30px;
    margin-left: 20%;
    text-align: justify;
    border-radius: 15px;
    display: table;
    //background: #f2f2f2;
}

.firetrace{
    width: 50%;
    display: inline-table;
}

.firetraceimg{
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
}

.flamex{
    width: 50%;
    display: inline-table;
}

.flameximg{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}

/* ************** Estilo Modo Tablet ******************** */
@media (max-width:768px){

    .info{
        width: 81%;
        //border: 1px solid black;
        margin-left: 9%;
        padding: 25px 25px 25px 25px;
        background: #f2f2f2;
        border-radius: 15px;
    }

    .complemento{
        width: 81%;
        //border: 1px solid black;
        margin-top: 30px;
        margin-left: 9%;
        text-align: justify;
        border-radius: 15px;
        display: table;
        background:none;
    }

}

/* ************** Estilo Modo Telefono ******************** */
@media (max-width: 420px){

    h1{
        background: #f2f2f2;
        width: 80%;
        margin-top: 20px;
        margin-left: 13%;
        border-radius: 10px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    h3{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        color: red;
    }

    h4{
        font-size: 18px;
    }

    h5{
        font-size: 18px;
    }
    
    .contenedor{
        margin-bottom: 100px;
    }
    
    .info{
        width: 81%;
        //border: 1px solid black;
        margin-top: -20px;
        margin-left: 13%;
        padding: 15px 15px 15px 15px;
        background: #f2f2f2;
        border-radius: 15px;
    }
    
    .parrafos{
        font-size: 15px;
        text-align: justify;
    }
    
    .complemento{
        width: 81%;
        //border: 1px solid black;
        margin-top: 30px;
        margin-left: 13%;
        text-align: justify;
        border-radius: 15px;
        display: table;
        //background: #f2f2f2;
    }
    
    .firetrace{
        width: 50%;
        display: inline-table;
    }
    
    .firetraceimg{
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
    }
    
    .flamex{
        width: 50%;
        display: inline-table;
    }
    
    .flameximg{
        width: 90%;
        margin-left: 5%;
        border-radius: 10px;
    }
    

}