<div class="container">
  <div class="row">
    <div class="">

      <div class="card mx-auto">
        <div class="card-body">
          <h1 class="text-center">QUIÉNES SOMOS</h1>
          <hr>
          <img class="qsomosimage" src="./assets/others/grande_.jpg"/>
          <div class="parrafos">
          <p class="p-1">Somos una empresa especializada en el control de emisiones contaminantes,
            orgullosa de satisfacer las necesidades de nuestros clientes, trabajando siempre
            para el mejoramiento del medio ambiente. Nuestra experiencia de mas de 14 años nos
            ha brindado un lugar en la industria, ofreciendo equipos de alta tecnología e
            innovación a nivel nacional e internacional.</p>
          </div>
          <h2 class="letreros mision">MISIÓN</h2>
          <div class="parrafos">
          <p>Contribuir con la industria en general y mantener desarrollo tecnológico e industrial
            sin afectar al medio ambiente.</p>
          </div>
          <h3 class="letreros vision">VISIÓN</h3>
          <div class="parrafos">
          <p>Alcanzar la excelencia como empresa líder en nuestro ramo y un crecimiento de la
            empresa en conjunto con clientes, empleados, proveedores; para alcanzar un nivel de
            vida y desarrollo humano excelente.</p>
          </div>
          <h3 class="letreros valores">VALORES</h3>
          <img src="./assets/iconos/flecha-mamalona.png" class="icons"> Responsabilidad <br><br>
          <img src="./assets/iconos/flecha-mamalona.png" class="icons"> Respeto <br><br>
          <img src="./assets/iconos/flecha-mamalona.png" class="icons"> Honestidad <br><br>
          <img src="./assets/others/tomados-de-la-mano.png" class="img-valores">
          <p class="p-valores">Son algunos de nuestros principales valores</p>
        </div>
      </div>
    </div>
  </div>
</div>
