<br>
<h1>Colectores</h1>
<h4>Te mostramos los colectores que tenemos disponibles para tí</h4>
<div class="contenedor">

    <div class="productos">
        <h3>Producto 1</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>
    <div class="productos">
        <h3>Producto 2</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>
    <div class="productos">
        <h3>Producto 3</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>
    <div class="productos">
        <h3>Producto 4</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>
</div>

<div class="contenedor">
    <div class="productos">
        <h3>Producto 5</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>
    <div class="productos">
        <h3>Producto 6</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>
    <div class="productos">
        <h3>Producto 7</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>
    <div class="productos">
        <h3>Producto 8</h3>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve de la refacción, esta es uan prueba de texto que deberá 
            ir dentro de los Divs donde se encuentra el catalogo de refacciones/productos
        </p>
        <span>Precio: $ 100.00</span>
    </div>

</div>
