<h1>Servicios</h1>

<div class="contenedor">

    <div class="info">
        <h3>Te acompañamos antes, durante y después de cada servicio</h3>
        <b><p>Estos son algunos de los servicios que ofrecemos:</p></b>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons"><p>Evaluaciones</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons"><p>Levantamiento</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons"><p>Diseño</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons"><p>Cálculo</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons"><p>Ingeniería</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons"><p>Fabricación</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons">
            <p>Montaje de Equipo y Ductería</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons">
            <p>Armado y Selección de Componentes Para Tableros de Control</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons">
            <p>Instalación Eléctrica</p>
        </div>
        <div class="lista">
            <img src="./assets/iconos/flecha-mamalona.png" class="icons">
            <p>Puesta en Marcha</p>
        </div>
    </div>

    <h4>A continuación de muestra la galeria de imagenes de los servicios que ofrecemos</h4>
    <div class="servicios">
        <h4>Servicio 1</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 2</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 3</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 4</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 5</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 6</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 7</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 8</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 9</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
    <div class="servicios">
        <h4>Servicio 10</h4>
        <img src="./assets/others/hands.jpg" alt="">
        <p class="parrafos">Descripcion breve del Servicio</p>
    </div>
</div>
