<div class="contenedor">
    <div class="logo">
        <img src="./assets/logo.png" width="500px"><br><br>
        <span>Diseño de Ingeniería, proyectos, colectores y ventiladores</span>
        <h3>Técnica en Colectores S.A. de C.V.</h3>
    </div>
    <div class="formulario" background="hands.jpg">
        <form action="" method="post" class="[formGroup]">
            <fieldset>
                <p class="datospersonales">Datos Personales</p>
                <label for="">Nombre: </label>
                <input type="text" name="nombre" id="nombre" class="form-control">
                <label for="">Correo Electrónico: </label>
                <input type="email" name="correo" id="correo" class="form-control">
                <br><br>
                <p class="datosempresa">Datos de la Empresa</p>
                <label for="">Empresa: </label>
                <input type="text" name="empresa" id="empresa" class="form-control">
                <label for="">Dirección de Trabajo: </label>
                <input type="text" name="direccion" id="direccion" class="form-control">
                <label for="">Ciudad: </label>
                <input type="text" name="ciudad" id="ciudad" class="form-control">
                <label for="">Región ó Estado: </label>
                <input type="text" name="region" id="region" class="form-control">
                <label for="">Código Postal: </label>
                <input type="number" name="cp" id="cp" class="form-control">
                <label for="">País: </label>
                <input type="text" name="pais" id="pais" class="form-control">
                <br>
                <label for="">Mensaje: </label>
                <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form-control"></textarea>
            </fieldset>
        </form>
    </div>

</div>