.list li a {
  display: block;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.list li a:hover{
  background: #41F732;
  font-weight: bold;
  color: white;
  font-size:20px;
}

.img {
margin-left: 50px;
}

.navbar1{
  margin-left: 25%;
}
