
.list li a {
  display: block;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.list li a:hover{
  background: #41F732;
  font-weight: bold;
  color: white;
  font-size:20px;
}

.img {
margin-left: 50px;
}

.navbar1{
  margin-left: 20%;
}

/* ************** Estilo Modo LAP ******************** 
@media (min-width:769px){
  .list li a {
    display: block;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .list li a:hover{
    background: #41F732;
    font-weight: bold;
    color: white;
    font-size:20px;
  }
  
  .img {
  margin-left: 50px;
  }
  
  .navbar1{
    margin-left: 25%;
  }

}*/

/* ************** Estilo Modo Tablet ******************** */
@media (max-width:768px){ //Es el maximo de tamaño (los anteriores a ese tendran ese diseño)
  
  .navbar1{
    margin-top: 15px;
    margin-left: 5%;
  }

  .list li a {
    width: 50%;
    margin-left: 25%;
    display: block;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .list li a:hover{
    
    background: #41F732;
    font-weight: bold;
    color: white;
    font-size:20px;
  }

}

/* ************** Estilo Modo Telefono ******************** */

@media (max-width: 420px){
  
  .navbar1{
    margin-top: 15px;
    margin-left: 5%;
  }

  .list li a {
    width: 70%;
    margin-left: 15%;
    display: block;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .list li a:hover{
    
    background: #41F732;
    font-weight: bold;
    color: white;
    font-size:15px;
  }

  img{
    width: 80px;
  }

}