<footer class="text-center text-lg-start bg-light text-muted">

  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Técnica en Colectores
          </h6>
          <p>
            Somos una empresa especializada en el control de emisiones contaminantes, orgullosa de satisfacer las necesidades de nuestros clientes, trabajando siempre para el mejoramiento del medio ambiente. Nuestra experiencia de mas de 14 años nos ha brindado un lugar en la industria, ofreciendo equipos de alta tecnología e innovación a nivel nacional e internacional.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Productos
          </h6>
          <p>
            <a [routerLink]="['/colectores']" class="text-reset">Colectores</a>
          </p>
          <p>
            <a [routerLink]="['/refacciones']" class="text-reset">Refacciones</a>
          </p>
          <p>
            <a [routerLink]="['/incendios']" class="text-reset">Servicios</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Cotizar
          </h6>
          <p>
            <a [routerLink]="['/contacto']" class="text-reset">Formulario</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i><img src="/assets/social/hogar.png" width="35"></i><a href=" https://www.google.com.mx/maps/place/C.+El+Abandonado+331,+Benito+Ju%C3%A1rez,+57000+Nezahualc%C3%B3yotl,+M%C3%A9x./@19.4050463,-98.990174,19z/data=!3m1!4b1!4m5!3m4!1s0x85d1e31811c799f7:0x3dc13dfabb3f8f9b!8m2!3d19.405045!4d-98.9896268 " class="a-info">
            Ciudad Nezahualcóyotl, EdoMex
          </a></p>
          <p>
            <i><img src="/assets/social/correo-electronico.svg" width="35"></i>
            <a href="malito:tecnicaencolectores@yahoo.com.mx" class="a-info"> tecnicaencolectores@yahoo.com.mx </a>
          </p>
          <p><i><img src="/assets/social/telefono.svg" width="35"></i> <a href="tel:5577220625" class="a-info"> 5577220625 </a></p>
        </div>

      </div>

    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">OurNet</a>
  </div>
</footer>
